Repository enkryptai/secure-mcp-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, check-json, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Path conditions:
  end-of-file-fixer: any file but: ^(docs/|README\.md|CHANGELOG\.md|API-Reference\.md)
  check-yaml: any of: \.(yaml|yml)$, but not: ^docs/secure-mcp-gateway-manifest-example\.yaml$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  debug-statements: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$
  clean-blank-lines: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-trailing-whitespace: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-useless-fstrings: any of: ^src/secure_mcp_gateway/.*\.py$

copilot hooks fix
  hooks/copilot/README.md
  hooks/copilot/hooks/pre_tool_use.py
Due: end-of-file-fixer, check-ast, debug-statements

Fix/copilot hooks (#28)
  hooks/copilot/README.md
  hooks/copilot/hooks/pre_tool_use.py
Due: end-of-file-fixer, check-ast, debug-statements

docker linux/macos fixes
  README.md
  src/secure_mcp_gateway/cli.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

docker command update
  .gitignore
  src/secure_mcp_gateway/cli.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

readme update cli section, cli update for claude code
  README.md
  src/secure_mcp_gateway/cli.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

version update
  CHANGELOG.md
  docs/secure-mcp-gateway-manifest-example.yaml
  src/secure_mcp_gateway/bad_mcps/ssrf_mcp.py
  src/secure_mcp_gateway/openapi.json
  src/secure_mcp_gateway/version.py
  tests/test_gateway.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

auth error fix, tool validation config
  CHANGELOG.md
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/auth/config_manager.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/auth/local_apikey_provider.py
  src/secure_mcp_gateway/plugins/guardrails/base.py
  src/secure_mcp_gateway/plugins/guardrails/config_manager.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

updates
  CHANGELOG.md
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

v2.1.7 (#29)
  .gitignore
  CHANGELOG.md
  README.md
  docs/secure-mcp-gateway-manifest-example.yaml
  src/secure_mcp_gateway/bad_mcps/ssrf_mcp.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/openapi.json
  src/secure_mcp_gateway/plugins/auth/config_manager.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/auth/local_apikey_provider.py
  src/secure_mcp_gateway/plugins/guardrails/base.py
  src/secure_mcp_gateway/plugins/guardrails/config_manager.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/version.py
  tests/test_gateway.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update hooks-cli.md
  docs/hooks-cli.md
Due: none

Update hooks_installer.py
  src/enkryptai_agent_security/gateway/hooks_installer.py
Due: end-of-file-fixer, check-ast, debug-statements

enkryptai-agent-security
  docs/hooks-cli.md
  pyproject.toml
  src/enkryptai_agent_security/gateway/cli.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements

windows fixes
  src/enkryptai_agent_security/config/hook_defaults.py
  src/enkryptai_agent_security/gateway/hooks_installer.py
  src/enkryptai_agent_security/hooks/scripts/cursor/after_agent_response.py
  src/enkryptai_agent_security/hooks/scripts/cursor/after_mcp_execution.py
  src/enkryptai_agent_security/hooks/scripts/cursor/before_mcp_execution.py
  src/enkryptai_agent_security/hooks/scripts/cursor/before_submit_prompt.py
  src/enkryptai_agent_security/hooks/scripts/cursor/diagnostics.py
  src/enkryptai_agent_security/hooks/scripts/cursor/stop.py
Due: end-of-file-fixer, check-ast, debug-statements

Update .gitignore
  .gitignore
Due: end-of-file-fixer

Added lazy imports for modules
  src/enkryptai_agent_security/gateway/__init__.py
Due: end-of-file-fixer, check-ast, debug-statements

Update hooks_installer: fix Ruff E731 (lambda to def)
  src/enkryptai_agent_security/gateway/hooks_installer.py
Due: end-of-file-fixer, check-ast, debug-statements

added local and global hooks configs
  .gitignore
  docs/hooks-cli.md
  src/enkryptai_agent_security/gateway/cli.py
  src/enkryptai_agent_security/gateway/hooks_installer.py
  src/enkryptai_agent_security/hooks/core.py
Due: end-of-file-fixer, check-ast, debug-statements

Create DEVELOPER_GUIDE.md
  docs/DEVELOPER_GUIDE.md
Due: none

Added contributing.md and cla.md
  .gitignore
  CLA.md
  CONTRIBUTING.md
  README.md
Due: end-of-file-fixer

Changed license to apache2.0
  LICENSE.txt
Due: end-of-file-fixer

streaming_guardrails
  docs/DEVELOPER_GUIDE.md
  docs/streaming-guardrails.md
  examples/hooks/langchain/basic_usage.py
  examples/hooks/langchain/demo_chain_protection.py
  examples/hooks/langchain/demo_injection_attack.py
  examples/hooks/langchain/demo_pii_detection.py
  examples/hooks/langchain/demo_tool_protection.py
  examples/hooks/langgraph/basic_agent.py
  examples/hooks/langgraph/demo_injection_attack.py
  examples/hooks/langgraph/demo_pii_detection.py
  examples/hooks/langgraph/demo_tool_protection.py
  examples/hooks/openai/basic_agent.py
  examples/hooks/openai/demo_injection_attack.py
  examples/hooks/openai/demo_multi_agent.py
  examples/hooks/openai/demo_pii_detection.py
  examples/hooks/openai/demo_tool_protection.py
  examples/hooks/strands/basic_agent.py
  examples/hooks/strands/demo_injection_attack.py
  examples/hooks/strands/demo_multi_provider.py
  examples/hooks/strands/demo_pii_detection.py
  examples/hooks/strands/demo_tool_protection.py
  examples/sdk/demo.py
  examples/streaming/streaming_guardrails_demo.py
  examples/streaming/streaming_guardrails_demo_curl.py
  pyproject.toml
  requirements.txt
  src/enkryptai_agent_security/gateway/__init__.py
  src/enkryptai_agent_security/gateway/exceptions.py
  src/enkryptai_agent_security/gateway/plugins/guardrails/enkrypt_provider.py
  src/enkryptai_agent_security/guardrails/__init__.py
  src/enkryptai_agent_security/guardrails/streaming.py
  tests/guardrails/test_streaming.py
  tests/guardrails/test_streaming_integration.py
  tests/guardrails/test_streaming_real_guardrails.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, name-tests-test

Update LICENSE
  LICENSE
Due: end-of-file-fixer

License doc updates
  README.md
  README_PYPI.md
  hooks/claude_code/README.md
  hooks/vercel-ai-sdk/README.md
  pyproject.toml
  setup.py
  src/secure_mcp_gateway/version.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

License doc updates
  pyproject.toml
Due: end-of-file-fixer, check-toml

feat(hooks): cherry-pick alpaca wheel behaviors into local guardrails
  hooks/claude_code/hooks/enkrypt_guardrails.py
  hooks/claude_code/hooks/notification.py
  hooks/claude_code/hooks/permission_request.py
  hooks/claude_code/hooks/post_tool_use.py
  hooks/claude_code/hooks/pre_compact.py
  hooks/claude_code/hooks/pre_tool_use.py
  hooks/claude_code/hooks/session_end.py
  hooks/claude_code/hooks/session_start.py
  hooks/claude_code/hooks/setup.py
  hooks/claude_code/hooks/stop.py
  hooks/claude_code/hooks/subagent_stop.py
  hooks/claude_code/hooks/user_prompt_submit.py
  hooks/cursor/README.md
  hooks/cursor/hooks/after_agent_response.py
  hooks/cursor/hooks/after_file_edit.py
  hooks/cursor/hooks/after_mcp_execution.py
  hooks/cursor/hooks/before_mcp_execution.py
  hooks/cursor/hooks/before_read_file.py
  hooks/cursor/hooks/before_submit_prompt.py
  hooks/cursor/hooks/diagnostics.py
  hooks/cursor/hooks/enkrypt_guardrails.py
  hooks/cursor/hooks/guardrails_config_example.json
  hooks/cursor/hooks/stop.py
  hooks/cursor/hooks/tests/test_enkrypt_guardrails.py
  hooks/cursor/hooks_example.json
Due: end-of-file-fixer, check-json, check-ast, debug-statements

project infrastructure (build system, CI, pre-commit, observability stack, contributing docs)
  .github/workflows/publish.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  observability/docker-compose.yml
  observability/grafana/provisioning/dashboards/OpenTelemetry Gateway Metrics.json
  observability/grafana/provisioning/dashboards/dashboards.yaml
  observability/grafana/provisioning/dashboards/gateway-metrics.json
  observability/grafana/provisioning/dashboards/otel-grafana-complete.json
  observability/grafana/provisioning/datasources/datasources.yaml
  observability/loki/loki-config.yaml
  observability/otel_collector/otel-collector-config.yaml
  observability/prometheus/prometheus.yml
  observability/promtail/promtail-config.yaml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.py
  src/secure_mcp_gateway/dependencies.py
  tests/__init__.py
  tests/test_version.py
Due: end-of-file-fixer, check-yaml, check-json, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

updates
  pyproject.toml
  requirements.txt
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/dependencies.py
  src/secure_mcp_gateway/error_handling.py
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/log.py
  src/secure_mcp_gateway/plugins/auth/example_providers.py
  src/secure_mcp_gateway/plugins/telemetry/__init__.py
  src/secure_mcp_gateway/plugins/telemetry/config_manager.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/example_providers.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/plugins/telemetry/redaction.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/utils.py
  tests/test_logging.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update gateway.py
  src/secure_mcp_gateway/gateway.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

upgrading requirements
  pyproject.toml
  requirements.txt
  src/secure_mcp_gateway/dependencies.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

mcp health apis
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/api_models.py
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/services/health/__init__.py
  src/secure_mcp_gateway/services/health/mcp_health_service.py
  tests/__init__.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update openapi , postman collection
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/openapi.json
  src/secure_mcp_gateway/postman_collection.json
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Updates to start new test apis in sandbox
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/api_models.py
  src/secure_mcp_gateway/plugins/sandbox/config_manager.py
  src/secure_mcp_gateway/services/health/mcp_health_service.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Updates : added deny tool list, otel for new apis
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/api_models.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/plugins/telemetry/config_manager.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/services/cache/cache_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/deny_matcher.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/health/mcp_health_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings
