Repository enkryptai/secure-mcp-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, check-json, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

end-of-file-fixer:
  name: Fix end of files
  description: Ensures that a file is either empty or ends with one newline.
  entry: python scripts/pre_commit/end_of_file_fixer.py
  language: system

check-yaml:
  name: Check YAML syntax
  description: This hook checks yaml files for parseable syntax.
  entry: python scripts/pre_commit/check_yaml.py
  language: system

check-json:
  name: Check JSON syntax
  description: This hook checks json files for parseable syntax.
  entry: python scripts/pre_commit/check_json.py
  language: system

check-toml:
  name: Check TOML syntax
  description: This hook checks toml files for parseable syntax.
  entry: python scripts/pre_commit/check_toml.py
  language: system

check-ast:
  name: Check Python AST
  description: Simply check whether files parse as valid python.
  entry: python scripts/pre_commit/check_ast.py
  language: system

debug-statements:
  name: Check for debugger imports and breakpoints
  description: Check for debugger imports and breakpoints.
  entry: python scripts/pre_commit/check_debug_statements.py
  language: system

name-tests-test:
  name: Check that tests are named correctly
  description: Ensure test files are named correctly.
  entry: python scripts/pre_commit/check_test_names.py
  language: system
  args:
  - --pytest-test-first

clean-blank-lines:
  name: Clean blank lines (custom)
  description: Remove unnecessary blank lines using custom script.
  entry: python scripts/flake8/clean_blank_lines.py
  language: system
  pass_filenames: true

remove-trailing-whitespace:
  name: Remove trailing whitespace (custom)
  description: Remove trailing whitespace using custom script.
  entry: python scripts/flake8/remove_trailing_whitespace.py
  language: system
  pass_filenames: true

remove-useless-fstrings:
  name: Remove useless f-strings (custom)
  description: Remove unnecessary f-string formatting using custom script.
  entry: python scripts/flake8/remove_useless_fstrings.py
  language: system
  pass_filenames: true

feat(playground): mount /mcp-playground/* onto the FastMCP gateway
  Dockerfile.patch-tier1metrics
  observability/opensearch_dashboards/gateway-cache-performance-dashboard.ndjson
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/gateway_playground_routes.py
  tools/build_tier1_overlay.py
  tools/verify_patch_tier1.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

release: bump 2.2.0 -> 2.2.1 + CHANGELOG
  CHANGELOG.md
  pyproject.toml
  src/secure_mcp_gateway/version.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix: cache_flush audit emission in gateway_cache_routes + SLO session metric repoint
  observability/opensearch_dashboards/gateway-slo-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_slo.py
  src/secure_mcp_gateway/gateway_cache_routes.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(playground): support registry-header mode on the FastMCP gateway routes
  src/secure_mcp_gateway/gateway_playground_routes.py
  tests/test_gateway_playground_routes.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(metrics): add identity kwargs to record_compliance_hits / record_pii_entities / record_toxicity_subtypes
  docs/demo_recording_script.md
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

User signup slack alerts
  .github/workflows/daily-signups.yml
  scripts/daily_signups/daily_signups.py
  scripts/daily_signups/recent_signups_view.sql
Due: end-of-file-fixer, check-yaml, check-ast, debug-statements

feat(digest): add OpenSearch top-users section, rename to daily_digest
  .github/workflows/daily-digest.yml
  scripts/daily_digest/daily_digest.py
  scripts/daily_digest/recent_signups_view.sql
  scripts/daily_signups/daily_signups.py
Due: end-of-file-fixer, check-yaml, check-ast, debug-statements

feat(digest): add Errors & blocks section (enkrypt.guardrail.blocks)
  scripts/daily_digest/daily_digest.py
Due: end-of-file-fixer, check-ast, debug-statements

Revert "User signup slack alerts"
  .github/workflows/daily-signups.yml
  scripts/daily_signups/daily_signups.py
  scripts/daily_signups/recent_signups_view.sql
Due: end-of-file-fixer, check-yaml, check-ast, debug-statements

feat(oauth): gateway-managed OAuth for local credential-file MCP servers (Google Sheets)
  docs/GOOGLE_SHEETS_MCP_GATEWAY.md
  src/secure_mcp_gateway/client.py
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/gateway_oauth_routes.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/oauth/local_credentials.py
  src/secure_mcp_gateway/services/oauth/models.py
  src/secure_mcp_gateway/services/oauth/oauth_service.py
  src/secure_mcp_gateway/services/session/session_pool.py
  tools/gsheets_e2e_test.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

feat(oauth): public-URL redirect for remote gateway OAuth callbacks
  docs/CENTRALIZED_OAUTH_CALLBACK.md
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/gateway_oauth_routes.py
  src/secure_mcp_gateway/utils.py
  tests/test_gateway_oauth_remote_redirect.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

@ docs: add EKS deployment runbook for dev, plus prod gap analysis
  CLAUDE.md
  docs/claude/k8s-deployment-runbook.md
Due: end-of-file-fixer

@ docs: correct the OTel-env claim, document the S3 config contents
  CLAUDE.md
  docs/claude/k8s-deployment-runbook.md
Due: end-of-file-fixer

ci: add GitHub Actions workflows for dev and prod Docker image builds
  .github/workflows/svc-secure-mcp-gateway-dev.yaml
  .github/workflows/svc-secure-mcp-gateway-prod.yaml
Due: end-of-file-fixer, check-yaml

fix(security): clear all fixable CVEs in the gateway image (v2.2.1-2)
  CHANGELOG.md
  Dockerfile
  pyproject.toml
  requirements.txt
  src/secure_mcp_gateway/dependencies.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(security): replace the venv-bootstrap pip wheel to drop vulnerable vendored libs
  CHANGELOG.md
  Dockerfile
Due: end-of-file-fixer

Add cosign verification step in workflow
  .github/workflows/svc-secure-mcp-gateway-dev.yaml
Due: end-of-file-fixer, check-yaml

adding a new line to trigger the CI
  Dockerfile
Due: end-of-file-fixer

docs
  README.md
  docs/auth-providers.md
Due: none

Update Cosign installer version in workflow
  .github/workflows/svc-secure-mcp-gateway-dev.yaml
Due: end-of-file-fixer, check-yaml

Add --yes flag to cosign sign command
  .github/workflows/svc-secure-mcp-gateway-dev.yaml
Due: end-of-file-fixer, check-yaml

Update Cosign installer and signing command
  .github/workflows/svc-secure-mcp-gateway-prod.yaml
Due: end-of-file-fixer, check-yaml

Fix typo in Cosign installer action version
  .github/workflows/svc-secure-mcp-gateway-prod.yaml
Due: end-of-file-fixer, check-yaml

Delete docs/demo_recording_script.md
  docs/demo_recording_script.md
Due: none

Delete docs/metric_attributes_key_mismatch.md
  docs/metric_attributes_key_mismatch.md
Due: none

fix(auth): honor X-Enkrypt-MCP-Gateway-Version from the request (v2.2.2)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/auth-providers.md
  pyproject.toml
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/plugins/auth/base.py
  src/secure_mcp_gateway/plugins/auth/config_manager.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/auth/local_apikey_provider.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
  src/secure_mcp_gateway/version.py
  tests/test_enkrypt_auth_provider.py
  tests/test_gateway_version_header.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(auth): honor X-Enkrypt-MCP-Gateway-Version from the request (v2.2.2) (#47)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/auth-providers.md
  pyproject.toml
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/plugins/auth/base.py
  src/secure_mcp_gateway/plugins/auth/config_manager.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/auth/local_apikey_provider.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
  src/secure_mcp_gateway/version.py
  tests/test_enkrypt_auth_provider.py
  tests/test_gateway_version_header.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

ci: unblock the PyPI publish workflow
  pyproject.toml
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/auth_policy.py
  src/secure_mcp_gateway/plugins/auth/example_providers.py
  src/secure_mcp_gateway/plugins/sandbox/microsandbox_provider.py
  src/secure_mcp_gateway/plugins/sandbox/novavm_provider.py
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_service.py
  src/secure_mcp_gateway/services/execution/execution_utils.py
  src/secure_mcp_gateway/services/execution/tool_execution_service.py
  src/secure_mcp_gateway/services/health/mcp_health_service.py
  src/secure_mcp_gateway/services/oauth/mcp_oauth_provider.py
  src/secure_mcp_gateway/services/oauth/metrics.py
  tests/test_sandbox_quick.py
  tests/test_server_listing_per_server_timeout.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix: mask remote-server credentials and name missing guardrail policies
  CHANGELOG.md
  src/secure_mcp_gateway/exceptions.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/utils.py
  tests/test_guardrail_missing_policy.py
  tests/test_server_config_masking.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(guardrails): route inline detectors correctly, sharpen missing-guardrail error
  CHANGELOG.md
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  tests/test_guardrail_missing_policy.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(guardrails): use the caller's apikey for discovery guardrail checks
  CHANGELOG.md
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  tests/test_guardrail_missing_policy.py
  tests/test_registration_apikey_forwarding.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

ci: unblock the PyPI publish workflow (2.2.2 never shipped) (#48)
  CHANGELOG.md
  pyproject.toml
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/auth_policy.py
  src/secure_mcp_gateway/exceptions.py
  src/secure_mcp_gateway/plugins/auth/example_providers.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/sandbox/microsandbox_provider.py
  src/secure_mcp_gateway/plugins/sandbox/novavm_provider.py
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/execution_utils.py
  src/secure_mcp_gateway/services/execution/tool_execution_service.py
  src/secure_mcp_gateway/services/health/mcp_health_service.py
  src/secure_mcp_gateway/services/oauth/mcp_oauth_provider.py
  src/secure_mcp_gateway/services/oauth/metrics.py
  src/secure_mcp_gateway/utils.py
  tests/test_guardrail_missing_policy.py
  tests/test_registration_apikey_forwarding.py
  tests/test_sandbox_quick.py
  tests/test_server_config_masking.py
  tests/test_server_listing_per_server_timeout.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(security): resolve all Semgrep findings across the repo
  .github/workflows/publish.yml
  .github/workflows/svc-secure-mcp-gateway-dev.yaml
  .github/workflows/svc-secure-mcp-gateway-prod.yaml
  CHANGELOG.md
  Dockerfile
  docs/secure-mcp-gateway-manifest-example.yaml
  observability/opensearch_dashboards/generators/generate_all.py
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/bad_mcps/credential_theft_mcp.py
  src/secure_mcp_gateway/bad_mcps/ssrf_mcp.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/gateway_oauth_routes.py
  src/secure_mcp_gateway/plugins/provider_loader.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/utils.py
  tools/osd_force_field_declare.py
Due: end-of-file-fixer, check-yaml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

chore(release): bump version to 2.2.3
  CHANGELOG.md
  pyproject.toml
  src/secure_mcp_gateway/version.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(security): resolve all Semgrep findings (v2.2.3) (#49)
  .github/workflows/publish.yml
  .github/workflows/svc-secure-mcp-gateway-dev.yaml
  .github/workflows/svc-secure-mcp-gateway-prod.yaml
  CHANGELOG.md
  Dockerfile
  docs/secure-mcp-gateway-manifest-example.yaml
  observability/opensearch_dashboards/generators/generate_all.py
  pyproject.toml
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/bad_mcps/credential_theft_mcp.py
  src/secure_mcp_gateway/bad_mcps/ssrf_mcp.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/gateway_oauth_routes.py
  src/secure_mcp_gateway/plugins/provider_loader.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/utils.py
  src/secure_mcp_gateway/version.py
  tools/osd_force_field_declare.py
Due: end-of-file-fixer, check-yaml, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

chore(observability): hold gateway telemetry for 30 days, not 7
  observability/opensearch/policies/gateway_telemetry_policy.json
Due: end-of-file-fixer, check-json

chore(observability): hold gateway telemetry for 30 days, not 7 (#50)
  observability/opensearch/policies/gateway_telemetry_policy.json
Due: end-of-file-fixer, check-json

Path conditions:
  end-of-file-fixer: any file but: ^(docs/|README\.md|CHANGELOG\.md|API-Reference\.md)
  check-yaml: any of: \.(yaml|yml)$, but not: ^docs/secure-mcp-gateway-manifest-example\.yaml$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  debug-statements: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$
  clean-blank-lines: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-trailing-whitespace: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-useless-fstrings: any of: ^src/secure_mcp_gateway/.*\.py$
