Repository enkryptai/secure-mcp-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, check-json, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

end-of-file-fixer:
  name: Fix end of files
  description: Ensures that a file is either empty or ends with one newline.
  entry: python scripts/pre_commit/end_of_file_fixer.py
  language: system

check-yaml:
  name: Check YAML syntax
  description: This hook checks yaml files for parseable syntax.
  entry: python scripts/pre_commit/check_yaml.py
  language: system

check-json:
  name: Check JSON syntax
  description: This hook checks json files for parseable syntax.
  entry: python scripts/pre_commit/check_json.py
  language: system

check-toml:
  name: Check TOML syntax
  description: This hook checks toml files for parseable syntax.
  entry: python scripts/pre_commit/check_toml.py
  language: system

check-ast:
  name: Check Python AST
  description: Simply check whether files parse as valid python.
  entry: python scripts/pre_commit/check_ast.py
  language: system

debug-statements:
  name: Check for debugger imports and breakpoints
  description: Check for debugger imports and breakpoints.
  entry: python scripts/pre_commit/check_debug_statements.py
  language: system

name-tests-test:
  name: Check that tests are named correctly
  description: Ensure test files are named correctly.
  entry: python scripts/pre_commit/check_test_names.py
  language: system
  args:
  - --pytest-test-first

clean-blank-lines:
  name: Clean blank lines (custom)
  description: Remove unnecessary blank lines using custom script.
  entry: python scripts/flake8/clean_blank_lines.py
  language: system
  pass_filenames: true

remove-trailing-whitespace:
  name: Remove trailing whitespace (custom)
  description: Remove trailing whitespace using custom script.
  entry: python scripts/flake8/remove_trailing_whitespace.py
  language: system
  pass_filenames: true

remove-useless-fstrings:
  name: Remove useless f-strings (custom)
  description: Remove unnecessary f-string formatting using custom script.
  entry: python scripts/flake8/remove_useless_fstrings.py
  language: system
  pass_filenames: true

Dev (#52)
  observability/opensearch/policies/gateway_telemetry_policy.json
Due: end-of-file-fixer, check-json

fix(security): hosted gateway refuses stdio servers; sandbox, blocked-output and PII fixes
  CHANGELOG.md
  README.md
  docs/claude/k8s-deployment-runbook.md
  docs/secure-mcp-gateway-manifest-example.yaml
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/exceptions.py
  src/secure_mcp_gateway/gateway_playground_routes.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/utils.py
  tests/test_security_hardening.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(security): hosted gateway refuses stdio servers; sandbox, blocked-output and PII fixes (#53)
  CHANGELOG.md
  README.md
  docs/claude/k8s-deployment-runbook.md
  docs/secure-mcp-gateway-manifest-example.yaml
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/exceptions.py
  src/secure_mcp_gateway/gateway_playground_routes.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/utils.py
  tests/test_security_hardening.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

chore(release): bump version to 2.2.4
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
  src/secure_mcp_gateway/version.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Dev (#54)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/claude/k8s-deployment-runbook.md
  docs/secure-mcp-gateway-manifest-example.yaml
  pyproject.toml
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/exceptions.py
  src/secure_mcp_gateway/gateway_playground_routes.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/utils.py
  src/secure_mcp_gateway/version.py
  tests/test_security_hardening.py
Due: end-of-file-fixer, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Path conditions:
  end-of-file-fixer: any file but: ^(docs/|README\.md|CHANGELOG\.md|API-Reference\.md)
  check-yaml: any of: \.(yaml|yml)$, but not: ^docs/secure-mcp-gateway-manifest-example\.yaml$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  debug-statements: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$
  clean-blank-lines: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-trailing-whitespace: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-useless-fstrings: any of: ^src/secure_mcp_gateway/.*\.py$
