Repository enkryptai/secure-mcp-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, check-json, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

end-of-file-fixer:
  name: Fix end of files
  description: Ensures that a file is either empty or ends with one newline.
  entry: python scripts/pre_commit/end_of_file_fixer.py
  language: system

check-yaml:
  name: Check YAML syntax
  description: This hook checks yaml files for parseable syntax.
  entry: python scripts/pre_commit/check_yaml.py
  language: system

check-json:
  name: Check JSON syntax
  description: This hook checks json files for parseable syntax.
  entry: python scripts/pre_commit/check_json.py
  language: system

check-toml:
  name: Check TOML syntax
  description: This hook checks toml files for parseable syntax.
  entry: python scripts/pre_commit/check_toml.py
  language: system

check-ast:
  name: Check Python AST
  description: Simply check whether files parse as valid python.
  entry: python scripts/pre_commit/check_ast.py
  language: system

debug-statements:
  name: Check for debugger imports and breakpoints
  description: Check for debugger imports and breakpoints.
  entry: python scripts/pre_commit/check_debug_statements.py
  language: system

name-tests-test:
  name: Check that tests are named correctly
  description: Ensure test files are named correctly.
  entry: python scripts/pre_commit/check_test_names.py
  language: system
  args:
  - --pytest-test-first

clean-blank-lines:
  name: Clean blank lines (custom)
  description: Remove unnecessary blank lines using custom script.
  entry: python scripts/flake8/clean_blank_lines.py
  language: system
  pass_filenames: true

remove-trailing-whitespace:
  name: Remove trailing whitespace (custom)
  description: Remove trailing whitespace using custom script.
  entry: python scripts/flake8/remove_trailing_whitespace.py
  language: system
  pass_filenames: true

remove-useless-fstrings:
  name: Remove useless f-strings (custom)
  description: Remove unnecessary f-string formatting using custom script.
  entry: python scripts/flake8/remove_useless_fstrings.py
  language: system
  pass_filenames: true

Grafana alerts, Enkrypt provider
  .gitignore
  CHANGELOG.md
  docs/auth-providers.md
  docs/metric_reference.md
  observability/.env.example
  observability/README.md
  observability/docker-compose.yml
  observability/grafana/provisioning/alerting/contact-points.yaml
  observability/grafana/provisioning/alerting/notification-policies.yaml
  observability/grafana/provisioning/alerting/rules.yaml
  observability/grafana/provisioning/dashboards/OpenTelemetry Gateway Metrics.json
  observability/grafana/provisioning/dashboards/gateway-metrics.json
  observability/grafana/provisioning/dashboards/otel-grafana-complete.json
  observability/grafana/provisioning/datasources/datasources.yaml
  pip/cache/http-v2/a/1/9/5/3/a19537d3cf37c122db841d6fe4cd322bc10d1a558bb00d146b85cb9a
  pip/cache/http-v2/a/1/9/5/3/a19537d3cf37c122db841d6fe4cd322bc10d1a558bb00d146b85cb9a.body
  pip/cache/selfcheck/75d7d44cb66ad04db8a20e8569fae252fa71085ff6665e4a7d366ed2
  src/secure_mcp_gateway/__init__.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/auth/config_manager.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/auth/local_apikey_provider.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/plugin_loader.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
Due: end-of-file-fixer, check-yaml, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Adding or omitting servers based is_active
  CHANGELOG.md
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

changed policy_name to guardrail_name
  API-Reference.md
  CHANGELOG.md
  CLAUDE.md
  CLI-Commands-Reference.md
  README.md
  _smoke_first_call.json
  docs/metric_reference.md
  src/secure_mcp_gateway/api_models.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/guardrails/config_manager.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/postman_collection.json
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  tests/api_reference.txt
  tests/bwrap_test_config.json
  tests/manual_cloud_auth_smoke.py
  tests/reference.txt
  tests/test_all_commands.py
  tests/test_cli_install.py
  tests/test_enkrypt_auth_provider.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update secure_tool_execution_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

updated apis to match cloud
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/api_models.py
  src/secure_mcp_gateway/api_server.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

changed guardrails_name to guardrails_config and X-Enkrypt-Mode: prompt + X-Enkrypt-Guardrail: MCP Gateway Guardrail v2 integration
  CHANGELOG.md
  docs/auth-providers.md
  docs/enkrypt_mcp_gateway_faq.md
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/openapi.json
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/auth/local_apikey_provider.py
  src/secure_mcp_gateway/plugins/guardrails/__init__.py
  src/secure_mcp_gateway/plugins/guardrails/base.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  tests/test_enkrypt_auth_provider.py
  tests/test_gateway.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

v2.2.0
  CHANGELOG.md
  docs/secure-mcp-gateway-manifest-example.yaml
  src/secure_mcp_gateway/bad_mcps/ssrf_mcp.py
  tests/test_gateway.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

align local config to *_guardrails_config; wire tool_guardrails_config + enable_server_info_validation overrides
  .pre-commit-config.yaml
  API-Reference.md
  CLAUDE.md
  README.md
  _smoke_first_call.json
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/guardrails/config_manager.py
  tests/bwrap_test_config.json
  tests/manual_cloud_auth_smoke.py
Due: end-of-file-fixer, check-yaml, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update CHANGELOG.md
  CHANGELOG.md
Due: none

v2.2.0; fix Dockerfile to match PEP 517 layout
  Dockerfile
  pyproject.toml
  src/secure_mcp_gateway/openapi.json
  src/secure_mcp_gateway/postman_collection.json
  src/secure_mcp_gateway/version.py
Due: end-of-file-fixer, check-json, check-toml, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Add native URL transport support for remote MCP servers
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/client.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/execution/tool_execution_service.py
  src/secure_mcp_gateway/services/session/session_pool.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Add standard MCP type:http/sse config support
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/client.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/execution/tool_execution_service.py
  src/secure_mcp_gateway/services/session/session_pool.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Apply gateway-wide common_overrides with common-wins precedence
  docs/auth-providers.md
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  tests/test_enkrypt_auth_provider.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Feature/native url transport, common overrides (#39)
  docs/auth-providers.md
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/client.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/execution/tool_execution_service.py
  src/secure_mcp_gateway/services/session/session_pool.py
  tests/test_enkrypt_auth_provider.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

mcp oauth provider, standard transport errors
  src/secure_mcp_gateway/exceptions.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/sandbox/server_params.py
  src/secure_mcp_gateway/services/oauth/mcp_oauth_provider.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

gateway name from headers
  src/secure_mcp_gateway/plugins/auth/base.py
  src/secure_mcp_gateway/plugins/auth/config_manager.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  tests/test_enkrypt_auth_provider.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Plumb gateway_name through get_local_mcp_config; config wins over header
  src/secure_mcp_gateway/gateway.py
  src/secure_mcp_gateway/plugins/auth/config_manager.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Use policy-driven guardrail/batch/detect for tool registration
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/guardrails/base.py
  src/secure_mcp_gateway/plugins/guardrails/config_manager.py
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Force policy mode for description + server-registration batch calls
  src/secure_mcp_gateway/plugins/guardrails/enkrypt_provider.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Updates
  CLAUDE.md
  README.md
  src/secure_mcp_gateway/cli.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Add OpenSearch observability backend (parallel to Grafana stack)
  .gitignore
  observability/.env.grafana.example
  observability/.env.opensearch.example
  observability/README.md
  observability/README.opensearch.md
  observability/data_prepper/data-prepper-config.yaml
  observability/data_prepper/pipelines.yaml
  observability/data_prepper/render_pipelines.py
  observability/data_prepper/test_render_pipelines.py
  observability/docker-compose.grafana.yml
  observability/docker-compose.opensearch.yml
  observability/emit_dummy_telemetry.py
  observability/opensearch/bootstrap.sh
  observability/opensearch/monitors/01-policy-violation-burst.json
  observability/opensearch/monitors/02-injection-attack-burst.json
  observability/opensearch/monitors/03-pii-found.json
  observability/opensearch/monitors/04-toxicity-nsfw-surge.json
  observability/opensearch/monitors/05-output-quality-failure.json
  observability/opensearch/monitors/06-tool-deny-list-burst.json
  observability/opensearch/monitors/07-user-targeting-guardrails.json
  observability/opensearch/monitors/08-guardrail-api-latency.json
  observability/opensearch/monitors/09-auth-failure-burst.json
  observability/opensearch/notification_channels/slack-mcpgw-alerts.json
  observability/opensearch/policies/gateway_telemetry_policy.json
  observability/opensearch/templates/gateway-logs-elastic-template.json
  observability/opensearch/templates/gateway-metrics-elastic-template.json
  observability/opensearch/templates/gateway-traces-elastic-template.json
  observability/opensearch_dashboards/gateway-dashboards.ndjson
  observability/opensearch_dashboards/saved-objects.ndjson
  observability/otel_collector/otel-collector-config.opensearch.yaml
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
Due: end-of-file-fixer, check-yaml, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Docs: OpenSearch observability backend (README.md + CLAUDE.md)
  CLAUDE.md
  README.md
Due: end-of-file-fixer

Add .gitattributes: force LF on Linux-bound observability files
  .gitattributes
Due: end-of-file-fixer

cli: default telemetry url to host.docker.internal:4317 under --docker
  src/secure_mcp_gateway/cli.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

added org_id, org_name to spans
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Added get config headers to spans
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Align telemetry identity attrs with cloud request_context
  docs/opensearch_query_guide.md
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

playground: support registry-header mode + cloud apikey auth
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/api_models.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/services/health/registry_client.py
  tests/test_playground_registry_mode.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Fixes
  src/secure_mcp_gateway/services/health/registry_client.py
  tests/test_playground_registry_mode.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Fixes
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/api_models.py
  tests/test_playground_registry_mode.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

playground: cloud /consumer-info for inline-mode apikey auth on enkrypt provider
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/services/health/consumer_info_client.py
  tests/test_playground_registry_mode.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update opensearch_query_guide.md
  docs/opensearch_query_guide.md
Due: none

Update api_server.py
  src/secure_mcp_gateway/api_server.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

observability: wait for OpenSearch yellow before bootstrap
  observability/opensearch/bootstrap.sh
Due: end-of-file-fixer

Surface failed tool calls instead of reporting empty success
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

telemetry: propagate forwarded_user_email to spans and metrics
  docs/opensearch_query_guide.md
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

auth: read identity from request_context.user_{id,email} (drop forwarded_*)
  CHANGELOG.md
  docs/auth-providers.md
  docs/opensearch_query_guide.md
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/auth/local_apikey_provider.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  tests/test_enkrypt_auth_provider.py
  tests/test_local_apikey_common_overrides.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Config file fixes
  src/secure_mcp_gateway/utils.py
  tests/test_container_detection.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Fixes: metrics, logs, traces
  _smoke_first_call.json
  src/secure_mcp_gateway/log.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
  tests/test_enkrypt_auth_provider.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Path conditions:
  end-of-file-fixer: any file but: ^(docs/|README\.md|CHANGELOG\.md|API-Reference\.md)
  check-yaml: any of: \.(yaml|yml)$, but not: ^docs/secure-mcp-gateway-manifest-example\.yaml$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  debug-statements: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$
  clean-blank-lines: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-trailing-whitespace: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-useless-fstrings: any of: ^src/secure_mcp_gateway/.*\.py$
