Repository enkryptai/secure-mcp-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, check-json, check-toml, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

end-of-file-fixer:
  name: Fix end of files
  description: Ensures that a file is either empty or ends with one newline.
  entry: python scripts/pre_commit/end_of_file_fixer.py
  language: system

check-yaml:
  name: Check YAML syntax
  description: This hook checks yaml files for parseable syntax.
  entry: python scripts/pre_commit/check_yaml.py
  language: system

check-json:
  name: Check JSON syntax
  description: This hook checks json files for parseable syntax.
  entry: python scripts/pre_commit/check_json.py
  language: system

check-toml:
  name: Check TOML syntax
  description: This hook checks toml files for parseable syntax.
  entry: python scripts/pre_commit/check_toml.py
  language: system

check-ast:
  name: Check Python AST
  description: Simply check whether files parse as valid python.
  entry: python scripts/pre_commit/check_ast.py
  language: system

debug-statements:
  name: Check for debugger imports and breakpoints
  description: Check for debugger imports and breakpoints.
  entry: python scripts/pre_commit/check_debug_statements.py
  language: system

name-tests-test:
  name: Check that tests are named correctly
  description: Ensure test files are named correctly.
  entry: python scripts/pre_commit/check_test_names.py
  language: system
  args:
  - --pytest-test-first

clean-blank-lines:
  name: Clean blank lines (custom)
  description: Remove unnecessary blank lines using custom script.
  entry: python scripts/flake8/clean_blank_lines.py
  language: system
  pass_filenames: true

remove-trailing-whitespace:
  name: Remove trailing whitespace (custom)
  description: Remove trailing whitespace using custom script.
  entry: python scripts/flake8/remove_trailing_whitespace.py
  language: system
  pass_filenames: true

remove-useless-fstrings:
  name: Remove useless f-strings (custom)
  description: Remove unnecessary f-string formatting using custom script.
  entry: python scripts/flake8/remove_useless_fstrings.py
  language: system
  pass_filenames: true

Fixes : Logs, Metrics, Traces
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/log.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/health/consumer_info_client.py
  src/secure_mcp_gateway/services/health/mcp_health_service.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

telemetry: emit legacy snake_case identity aliases + propagate request identity to log_extra
  src/secure_mcp_gateway/log.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/utils.py
  tests/test_build_log_extra_request_context.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Fixes
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/services/timeout/timeout_manager.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Increased timeouts
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/services/timeout/timeout_manager.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_service.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

telemetry: propagate identity to every metric / span across all entry points
  src/secure_mcp_gateway/api_health_routes.py
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/cache/cache_status_service.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/health/consumer_info_client.py
  src/secure_mcp_gateway/services/server/server_info_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
  src/secure_mcp_gateway/utils.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

telemetry: comment out the canonical enkrypt.* dotted form (snake_case only)
  src/secure_mcp_gateway/log.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  tests/test_build_log_extra_request_context.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

telemetry: rename enkrypt@* refs in monitors + docs to snake_case
  docs/dev_otelcol_logs_gateway_filter.md
  docs/metric_attributes_key_mismatch.md
  docs/opensearch_query_guide.md
  observability/README.opensearch.md
  observability/opensearch/monitors/01-policy-violation-burst.json
  observability/opensearch/monitors/02-injection-attack-burst.json
  observability/opensearch/monitors/03-pii-found.json
  observability/opensearch/monitors/04-toxicity-nsfw-surge.json
  observability/opensearch/monitors/05-output-quality-failure.json
  observability/opensearch/monitors/06-tool-deny-list-burst.json
  observability/opensearch/monitors/07-user-targeting-guardrails.json
  observability/opensearch/monitors/08-guardrail-api-latency.json
  observability/opensearch/templates/gateway-metrics-elastic-template.json
Due: end-of-file-fixer, check-json

docs: untrack local-only operator notes (otel-logs filter, attr-key mismatch)
  .gitignore
  docs/dev_otelcol_logs_gateway_filter.md
  docs/metric_attributes_key_mismatch.md
Due: end-of-file-fixer

observability: lock SS4O templates to dynamic:false + add overview dashboard
  _smoke_first_call.json
  observability/opensearch/templates/gateway-logs-elastic-template.json
  observability/opensearch/templates/gateway-metrics-elastic-template.json
  observability/opensearch/templates/gateway-traces-elastic-template.json
  observability/opensearch_dashboards/gateway-overview-dashboard.ndjson
  observability/opensearch_dashboards/generate_overview.py
  src/secure_mcp_gateway/services/cache/cache_management_service.py
  src/secure_mcp_gateway/services/server/server_listing_service.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Update: Gateway flush is done by matching org id in config from the org id in consumer info
  src/secure_mcp_gateway/api_cache_routes.py
  src/secure_mcp_gateway/auth_policy.py
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/example_enkrypt_cloud_config.json
  src/secure_mcp_gateway/gateway_cache_routes.py
  tests/test_auth_policy_cache_flush.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

Updates
  src/secure_mcp_gateway/auth_policy.py
  tests/test_auth_policy_cache_flush.py
  tests/test_gateway_cache_routes.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

indexes and dashboards
  README.md
  observability/opensearch/templates/gateway-logs-elastic-template.json
  observability/opensearch/templates/gateway-metrics-elastic-template.json
  observability/opensearch/templates/gateway-traces-elastic-template.json
  observability/opensearch_dashboards/README.md
  observability/opensearch_dashboards/gateway-audit-trail-dashboard.ndjson
  observability/opensearch_dashboards/gateway-cache-performance-dashboard.ndjson
  observability/opensearch_dashboards/gateway-cloud-cost-dashboard.ndjson
  observability/opensearch_dashboards/gateway-error-forensics-dashboard.ndjson
  observability/opensearch_dashboards/gateway-guardrails-deep-dive-dashboard.ndjson
  observability/opensearch_dashboards/gateway-hot-reload-config-dashboard.ndjson
  observability/opensearch_dashboards/gateway-per-tenant-dashboard.ndjson
  observability/opensearch_dashboards/gateway-sandbox-mcp-protocol-dashboard.ndjson
  observability/opensearch_dashboards/gateway-security-dashboard.ndjson
  observability/opensearch_dashboards/gateway-slo-dashboard.ndjson
  observability/opensearch_dashboards/gateway-tools-servers-dashboard.ndjson
  observability/opensearch_dashboards/generators/.gitignore
  observability/opensearch_dashboards/generators/_audit_fields.py
  observability/opensearch_dashboards/generators/_common.py
  observability/opensearch_dashboards/generators/generate_all.py
  observability/opensearch_dashboards/generators/generate_audit_trail.py
  observability/opensearch_dashboards/generators/generate_cache_performance.py
  observability/opensearch_dashboards/generators/generate_cloud_cost.py
  observability/opensearch_dashboards/generators/generate_error_forensics.py
  observability/opensearch_dashboards/generators/generate_guardrails_deep_dive.py
  observability/opensearch_dashboards/generators/generate_hot_reload_config.py
  observability/opensearch_dashboards/generators/generate_index_patterns.py
  observability/opensearch_dashboards/generators/generate_overview.py
  observability/opensearch_dashboards/generators/generate_per_tenant.py
  observability/opensearch_dashboards/generators/generate_sandbox_mcp_protocol.py
  observability/opensearch_dashboards/generators/generate_security_posture.py
  observability/opensearch_dashboards/generators/generate_slo.py
  observability/opensearch_dashboards/generators/generate_tools_and_servers.py
  observability/opensearch_dashboards/generators/local-test.ps1
  observability/opensearch_dashboards/saved-objects.ndjson
Due: end-of-file-fixer, check-json, check-ast, debug-statements

Updates: Increased timeouts
  CLAUDE.md
  README.md
  src/secure_mcp_gateway/cli.py
  src/secure_mcp_gateway/consts.py
  src/secure_mcp_gateway/example_enkrypt_mcp_config.json
  src/secure_mcp_gateway/plugins/auth/enkrypt_provider.py
  src/secure_mcp_gateway/services/health/consumer_info_client.py
  src/secure_mcp_gateway/services/health/registry_client.py
  src/secure_mcp_gateway/services/timeout/timeout_manager.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

org_ids
  README.md
  src/secure_mcp_gateway/auth_policy.py
  tests/test_auth_policy_cache_flush.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

session_pool: bound acquire() with asyncio.wait_for to prevent indefinite hangs on dead upstream connections
  src/secure_mcp_gateway/services/session/session_pool.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

feat(telemetry): wire 7 Tier-1 metrics that the dashboards expect
  src/secure_mcp_gateway/error_handling.py
  src/secure_mcp_gateway/exceptions.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/services/discovery/discovery_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/session/session_pool.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(telemetry): expose 7 Tier-1 counters via TelemetryConfigManager properties
  src/secure_mcp_gateway/plugins/telemetry/config_manager.py
  tools/local_tier1_smoke.py
  tools/local_tier1_smoke2.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(dashboards): Overview KPIs read enkrypt.tool.success instead of .tool.calls
  observability/opensearch_dashboards/gateway-overview-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_overview.py
Due: end-of-file-fixer, check-ast, debug-statements

fix(dashboards): batch swap enkrypt.tool.calls/.errors across 4 dashboards
  observability/opensearch_dashboards/gateway-per-tenant-dashboard.ndjson
  observability/opensearch_dashboards/gateway-sandbox-mcp-protocol-dashboard.ndjson
  observability/opensearch_dashboards/gateway-slo-dashboard.ndjson
  observability/opensearch_dashboards/gateway-tools-servers-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_per_tenant.py
  observability/opensearch_dashboards/generators/generate_sandbox_mcp_protocol.py
  observability/opensearch_dashboards/generators/generate_slo.py
  observability/opensearch_dashboards/generators/generate_tools_and_servers.py
Due: end-of-file-fixer, check-ast, debug-statements

feat(dashboards): regenerate Identity Breakdown against current SS4O schema
  observability/opensearch_dashboards/gateway-identity-breakdown-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_all.py
  observability/opensearch_dashboards/generators/generate_identity_breakdown.py
Due: end-of-file-fixer, check-ast, debug-statements

feat(telemetry): audit instrumentation for the Audit Trail dashboard
  docs/dev_otelcol_logs_gateway_filter.md
  docs/metric_attributes_key_mismatch.md
  src/secure_mcp_gateway/api_routes.py
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/audit.py
  src/secure_mcp_gateway/plugins/telemetry/config_manager.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  tests/test_audit.py
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

refactor(audit): replace per-endpoint instrumentation with FastAPI middleware
  src/secure_mcp_gateway/api_routes.py
  src/secure_mcp_gateway/api_server.py
  src/secure_mcp_gateway/audit_middleware.py
  tests/test_audit_middleware.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(audit): splat **kwargs into structlog instead of extra= dict
  src/secure_mcp_gateway/audit.py
  tests/test_audit.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(audit): resolve audit logger at call time, not at module import
  src/secure_mcp_gateway/audit.py
  tests/test_audit.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(overlay): target /app/src, mirror to site-packages, bust both .pyc caches
  Dockerfile.patch-tier1metrics
  tools/build_tier1_overlay.py
  tools/verify_patch_tier1.py
Due: end-of-file-fixer, check-ast, debug-statements

fix(dashboards): align Audit Trail panel queries with live emission contract
  observability/opensearch_dashboards/gateway-audit-trail-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_audit_trail.py
Due: end-of-file-fixer, check-ast, debug-statements

fix(templates): declare 5 audit metric attributes so dashboards can pivot
  observability/opensearch/templates/gateway-metrics-elastic-template.json
Due: end-of-file-fixer, check-json

fix(dashboards): Recent Admin Actions / Audit Events panel field names
  observability/opensearch_dashboards/gateway-audit-trail-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_audit_trail.py
Due: end-of-file-fixer, check-ast, debug-statements

fix(observability): declare audit emission fields in logs template
  observability/opensearch/templates/gateway-logs-elastic-template.json
Due: end-of-file-fixer, check-json

fix(dashboards): scope Recent Audit Events panel to changed_fields
  observability/opensearch_dashboards/gateway-audit-trail-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_audit_trail.py
Due: end-of-file-fixer, check-ast, debug-statements

feat(telemetry): per-detector violation detail (PII entities + toxicity subtypes)
  src/secure_mcp_gateway/plugins/telemetry/config_manager.py
  src/secure_mcp_gateway/plugins/telemetry/conventions.py
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/plugins/telemetry/opentelemetry_provider.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
Due: end-of-file-fixer, check-ast, debug-statements, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(dashboards): wire Guardrails Deep Dive panels to the new emission contract
  observability/opensearch/templates/gateway-logs-elastic-template.json
  observability/opensearch/templates/gateway-metrics-elastic-template.json
  observability/opensearch_dashboards/gateway-guardrails-deep-dive-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_guardrails_deep_dive.py
Due: end-of-file-fixer, check-json, check-ast, debug-statements

test(metrics_helpers): cover PII entity + toxicity subtype helpers (16 tests)
  tests/test_metrics_helpers.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test

build(overlay): inject guardrail-detail emission into v2.2.0 STES
  Dockerfile.patch-tier1metrics
  tools/build_tier1_overlay.py
  tools/verify_patch_tier1.py
Due: end-of-file-fixer, check-ast, debug-statements

feat(overlay): structured detector_detail log + schema-drift probe
  tools/build_tier1_overlay.py
  tools/guardrail_detail_smoke.py
Due: end-of-file-fixer, check-ast, debug-statements

feat(ops): osd_force_field_declare.py for pre-declaring fields
  tools/osd_force_field_declare.py
Due: end-of-file-fixer, check-ast, debug-statements

feat(tools): guardrail_coverage_smoke.py -- 22-prompt detector coverage probe
  tools/guardrail_coverage_smoke.py
Due: end-of-file-fixer, check-ast, debug-statements

feat(telemetry): per-request phase timing for Cache & Performance dashboard
  Dockerfile.patch-tier1metrics
  src/secure_mcp_gateway/plugins/telemetry/metrics_helpers.py
  src/secure_mcp_gateway/services/cache/cache_service.py
  src/secure_mcp_gateway/services/execution/secure_tool_execution_service.py
  src/secure_mcp_gateway/services/session/session_pool.py
  tests/test_metrics_helpers.py
  tools/build_tier1_overlay.py
  tools/verify_patch_tier1.py
Due: end-of-file-fixer, check-ast, debug-statements, name-tests-test, clean-blank-lines, remove-trailing-whitespace, remove-useless-fstrings

fix(dashboards): Cache & Performance -- repoint Active Sessions + MCP Handshake
  observability/opensearch_dashboards/gateway-cache-performance-dashboard.ndjson
  observability/opensearch_dashboards/generators/generate_cache_performance.py
Due: end-of-file-fixer, check-ast, debug-statements

Path conditions:
  end-of-file-fixer: any file but: ^(docs/|README\.md|CHANGELOG\.md|API-Reference\.md)
  check-yaml: any of: \.(yaml|yml)$, but not: ^docs/secure-mcp-gateway-manifest-example\.yaml$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  debug-statements: any of: \.py$
  name-tests-test: any of: ^tests/.*\.py$
  clean-blank-lines: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-trailing-whitespace: any of: ^src/secure_mcp_gateway/.*\.py$
  remove-useless-fstrings: any of: ^src/secure_mcp_gateway/.*\.py$
